<div class="panel panel-success col-xs-4" style="padding: 0px;">
  <div class="panel-heading">
      Help
  </div>
  <div class="panel-body">
      <p>Please enter name of the trip and other basic information. After filling, press next button to continue</p>
      <p>On the left side menu you can switch the order of content and modify at any time</p>
      <p>Don't worry, this information will be saved as draft. And appear in the dashboard </p>
  </div>
</div>