<h1>Other Information</h1>
<div class="form-group">
  <label class="col-sm-6" style="font-weight: normal;">Post Trip:</label>
  <label class="col-sm-6"><%= @event.other_info.post_trip %></label>
</div>
<div class="form-group">
  <label class="col-sm-6" style="font-weight: normal;">Trip Notes For Next Time:</label>
  <label class="col-sm-6"><%= @event.other_info.trip_note %></label>
</div>
<div class="form-group">
  <label class="col-sm-6" style="font-weight: normal;">Modify/Improve/Buy:</label>
  <label class="col-sm-6"><%= @event.other_info.trip_status %></label>
</div>