<!DOCTYPE html>
<html>
<head>
  <title>Hiking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
		<%= yield %>
	</div>
  <script>
    $(document).on('ready page:load', function(){
        $('#dataTables-example').dataTable();
    });
  </script>
</body>
</html>
